* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 180px;
    margin-top: 50px;
}

a {
    text-decoration: none;
    background-color: #2d3f56;
    display: block;
    color: white;
    width: 180px;
    padding: 13px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

a:hover {
    background-color: #f93e3e;
}

nav > ul > li > a {
    transform: skew(20deg);
}

nav > ul > li > a > span {
    display: block;
    transform: skew(-20deg);
}

.hidden li:nth-child(odd) a {
    transform: skew(-25deg);
    background-image: linear-gradient(185deg, rgba(0,0,0,0.5), #2d3f56 30%)
}

.hidden li:nth-child(even) a {
    transform: skew(25deg);
    background-image: linear-gradient(175deg, rgba(0,0,0,0.5), #2d3f56 30%)
}

.hidden li:nth-child(even) span {
    display: block;
    transform: skew(-25deg);
}

.hidden li:nth-child(odd) span {
    display: block;
    transform: skew(25deg);
}

.hidden li:nth-child(even) a {
    position: relative;
    left: 5px;
    width: 200px;
}

.hidden li:nth-child(odd) a {
    position: relative;
    left: -5px;
    width: 200px;
}

.hidden {
    display: none;
}

.hidden li > a {
    position: absolute;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #2d3f56;
    color: white;
    width: 100%;
}

footer > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

